* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.wrapper {
  padding: 20px;
  width: 30%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h2 {
  text-align: center;
  padding: 10px 0;
}
.form_group {
  width: 100%;
  margin-bottom: 20px;
}

.form_group label {
  font-size: 18px;
}
.form_group input {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border-radius: 8px;
  padding: 10px;
}

#bio {
  padding: 10px;
  font-size: 15px;
  letter-spacing: 1;
}
.photo-upload {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.flied_label {
  padding: 10px;
  color: #fff;
  font-size: 18px;
  background-color: #45a049;
}

.img_select {
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  text-align: center;
  background-color: #f0f0f0;
}
.submit_btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 12px 20px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
